<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Welcome to nginx & meteor-up!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to nginx &amp; meteor-up!</h1>

<p>If you see this page, meteor-up has has installed the nginx web server successfully.</p>

<p>Visit your applicaiton ROOT_URL to see your app running.</p>

<p>For online documentation and support please refer to
<a href="http://nginx.org/">nginx.org</a>.<br>
Commercial support is available at
<a href="http://nginx.com/">nginx.com</a>.</p>
Deploy Meteor apps with ease using
<a href="https://github.com/aaronthorp/meteor-up">meteor-up</a>.</p>

<p><em>Thank you for using nginx &amp; meteor-up.</em></p>

<p>Nginx/meteor-up feature created by: <a href="http://www.aaronthorp.com">Aaron Thorp</a></p>
